# Feature Engineering Exercises

__Step 1__

Load the tips dataset:
* Create a column named tip_percentage. This should be the tip amount divided by the total bill.
* Create a column named price_per_person. This should be the total bill divided by the party size.
* Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?
* Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?
* Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?
* Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

In [3]:
import numpy as np
import pandas as pd
from pydataset import data

In [4]:
tips = data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
#Create tip percentage
tips['tip_percentage'] = tips.tip / tips.total_bill

#Create price per person
tips['price_per_person'] = tips.total_bill / tips.size

I think that the most important features for predicting the tip amount would be total_bill and size.

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.preprocessing import LabelEncoder, StandardScaler
import wrangle

In [8]:
#Convert categorical columns to numeric values
for column in tips.columns:
    if tips[column].dtype == np.number:
        continue
    tips[column] = LabelEncoder().fit_transform(tips[column])

<ipython-input-8-4ad7a790f5dd>:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if tips[column].dtype == np.number:

In [10]:
#Now split data into train, validate, test sets
train, validate, test = wrangle.train_validate_test_split(tips)

#Split the data into X and y groups
X_train, y_train = train.drop('tip', axis = 1), train.tip
X_validate, y_validate = validate.drop('tip', axis = 1), validate.tip
X_test, y_test = test.drop('tip', axis = 1), test.tip

#Scale the data
scaler = StandardScaler()
train_scaled = scaler.fit_transform(X_train)
validate_scaled = scaler.transform(X_validate)
test_scaled = scaler.transform(X_test)